<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product detail</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script type="text/javascript" src={% static "js/detail.js" %}></script>

<script type="text/javascript">

$('.ui.dropdown')
  .dropdown();





</script>





  </head>
  <body style="background:#fdfdfd;">



    <div class="ui fixed attached stackable menu" style="background:#ffffff; height:7%;">
  <div class="ui container">
    <a class="item" style="color:#006f94;">
    <img src="http://www.textmercato.com/newimages/logo.png" alt="" style="margin:auto 0 auto; display:block;" />
  </a>
    <a class="item" style="color:#006f94;" disabled>
      <i class="setting icon" style="color:#006f94;"></i> ASIN: {{data2.asin}}
    </a>

    <!-- <a class="item" style="color:#ffffff;" href="{% url 'admin:index' %}" target="_blank">
      <i class="server icon" style="color:#ffffff;"></i>Admin</a> -->

      <a class="item" style="color:#006f94;" href="{{data2.old_url}}" target="_blank">
        <i class="external alternate icon" style="color:#006f94;"></i>Link to product</a>


  </div>

  <div class="right item">

    <a class="item" style="color:#006f94;" href="">
      <i class="user icon" style="color:#006f94;"></i>{{name}}</a>


      <a class="item" style="color:#006f94;">
        {{data5.asin_done_c}} / {{ total_asin_allocated }}</a>


      <a class="item" style="color:#006f94;" href="{% url 'app:index' %}">
        <i class="power off icon" style="color:#006f94;"></i></a>

        <a onclick="document.getElementById('id01').style.display='block'" class="item" style="color:#006f94;">Show Status</a>







    </div>

</div>







<div class="ui " style="margin-top:6%; margin-left: 1.5%; margin-right: 1.5%;">


   <div class="ui">
<div class="ui two column stackable aligned grid">
 <div class="aligned row">
   <div class="column">
<!--   ----------------------------  -->
   <div class="ui container stacked segment" style="background:#fefefe;">

<div class="ui top right attached blue label">Old description</div>
<form class="ui form">
<!--   <a class="ui blue ribbon label">Old description</a>
-->
<div class="field" style="margin-top:2%;">

<h3><label style="color:#424242;">Title</label></h3>
<!-- <input type="text" name="title" value="{{NAME}}" disabled> -->
{{data2.old_name}}
</div>

 <div class="ui section divider"></div>


<div class="field">
<h3><label style="color:#424242;">Description</label></h3>
<!-- <textarea> -->
{% for i in data4 %}
<ul>
<li>{{i}}</li>
</ul>

{% endfor %}
<!-- </textarea> -->
</div>

 <div class="ui section divider"></div>



<div class="field">
<h3><label style="color:#424242;">Product Description</label></h3>
<!-- <textarea> -->
{{data2.old_product_desc}}
<!-- </textarea> -->
</div>

<div class="ui section divider"></div>
<h3><label style="color:#424242;">From the manufacturer</label></h3>
<div class="field">
{% for h,p in data9 %}
<ul>

<li>
<h4><label style="color:#424242;">{{h}}</label></h4>
</li>
<p>{{p}}</p>

</ul>
{% endfor %}
</div>



</form>
   </div>




<!--   ----------------------------  -->
</div>
   <div class="column">
     <!--   ----------------------------  -->

           <div class="ui container stacked segment" style="background:#fefefe;">
     <div class="ui top right attached teal label">New description</div>

     <form class="ui form" method="post">
       {% csrf_token %}


 <div class="field">
<!--       <a class="ui green ribbon label">New description</a>
-->      <h4><label style="margin-top:2%;">Title<span style="color:red;"> *</span></label></h4>
   {% render_field form1.title class="form-control" name="newtitle" placeholder="Samsung 59 cm (24 inches) HD Ready LED TV UA24J4100AR (Black) (2015 Model)"%}

 </div>

 <div class="ui section divider"></div>

 <div class="field">
   <h4><label>Bullet Point 1 (Resolution and Refresh)<span style="color:red;"> *</span></label></h4>
   <div class="three fields">
   <div class="field">
     <input type="text" id="resolution" placeholder="Resolution:" name="resolution">
   </div>
   <div class="field">
     <input type="text" id="refresh" placeholder="Refresh Rate:" name="refresh">
   </div>
   <div class="field">
     <input type="text" id="view" placeholder="Viewing angle:">
   </div>
 </div>
   {% render_field form1.bp1 class="form-control" placeholder="Resolution : HD Ready (1366x768p) | Refresh Rate: 60 hertz | Viewing Angle: 176 degrees" id="bp1" %}

 </div>
 <div class="ui section divider"></div>
 <div class="field">
   <h4><label>Bullet Point 2 (Display)<span style="color:red;"> *</span></label></h4>
   <div class="five fields">
   <div class="field">
     <input type="text" id="ds1" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="ds2" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="ds3" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="ds4" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="ds5" placeholder="">
   </div>
 </div>
   {% render_field form1.bp2 class="form-control" placeholder="Display: 4K Ultra HDR | X-Motion Clarity | Triluminous Display | 4K X-Reality Pro | X-tended Dynamic Range" id="bp2" %}
 </div>

 <div class="ui section divider"></div>

 <div class="field">
   <h4><label>Bullet Point 3 (Smart TV Features) Optional</label></h4>
   <div class="ten fields">
   <div class="field">
     <input type="text" id="st1" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st2" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st3" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st4" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st5" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st6" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st7" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st8" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st9" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="st10" placeholder="">
   </div>
 </div>
   {% render_field form1.bp3 class="form-control" placeholder="Smart TV Features: Built-in WiFi | Linux-based OS | Youtube and Netflix Button | Smartphone Plug and Play" id="bp3"%}
 </div>
   <div class="ui section divider"></div>


 <div class="field">
   <h4><label>Bullet Point 4 (Ports Connectivity)<span style="color:red;"> *</span></label></h4>
   <div class="three fields">
   <div class="field">
     <input type="number" id="hdmi" name="hdmi1" placeholder="No. of HDMI Port:">
   </div>
   <div class="field">
     <input type="number" id="usb" name="usb1" placeholder="No. of USB Port:">
   </div>
   <div class="field">
     <input type="number" id="vga" name="vga1" placeholder="No. of VGA Port:">
   </div>
 </div>
   {% render_field form1.bp4 class="form-control" placeholder="Connectivity: 2 HDMI ports to connect set top box, Blu Ray players, gaming console | 2 USB ports to connect hard drives and other USB devices | 1 VGA Port to connect laptops" id="bp4" %}
 </div>
 <div class="ui section divider"></div>

 <div class="field">
   <h4><label>Bullet Point 5 (Sound)<span style="color:red;"> *</span></label></h4>
   <div class="five fields">
   <div class="field">
     <input type="text" id="s1" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="s2" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="s3" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="s4" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="s5" placeholder="">
   </div>
 </div>

   {% render_field form1.bp5 class="form-control" placeholder="Sound : 10 Watts Output | Dolby Digital Plus | 2.0 Channel Speakers with Down-firing and Bass Reflex" id="bp5"%}
 </div>
 <div class="ui section divider"></div>

 <div class="field">
   <h4><label>Bullet Point 6 (Installation)<span style="color:red;"> *</span></label></h4>
   <div class="two fields">
   <div class="field">
     <input type="text" id="brand6" placeholder="Sony" value="{{data2.old_brand}}" disabled>
   </div>

   <div class="field">
     <input type="text" id="contact6" placeholder="1800-100-1302">
   </div>
 </div>
   {% render_field form1.bp6 class="form-control" placeholder="Installation" id="bp6"%}
 </div>
 <div class="ui section divider"></div>

 <div class="field">
   <h4><label>Bullet Point 7 (Warranty)<span style="color:red;"> *</span></label></h4>
   <div class="two fields">
   <div class="field">
     <input type="number" id="year" placeholder="Warranty Year">
   </div>

   <div class="field">
     <input type="text" id="brand" placeholder="Brand:" value="{{data2.old_brand}}" disabled>
   </div>
 </div>
   {% render_field form1.bp7 class="form-control" placeholder="Warranty: 1 year standard manufacturer warranty from Onida" id="bp7"%}
 </div>
 <div class="ui section divider"></div>

 <div class="field">
   <h4><label>Bullet Point 8 (Additional Information) Optional</label></h4>
   <div class="five fields">
   <div class="field">
     <input type="text" id="a1" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="a2" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="a3" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="a4" placeholder="">
   </div>
   <div class="field">
     <input type="text" id="a5" placeholder="">
   </div>
 </div>
   {% render_field form1.bp8 class="form-control" placeholder="Additional Features: 8 GB Internal Memory | 1GB RAM" id="bp8"%}
 </div>
 <div class="ui section divider"></div>

 <div class="field">
   <h4><label>Comments</label></h4>
   {% render_field form1.comments class="form-control" placeholder="Comments" %}
 </div>


<div class="ui piled segment" style="background:#fbfbfb;">

 <div class="ui horizontal divider" style="margin-top:2%;">
    Feature Image
  </div>

  <div class="field">
    <h4><label>Screen size(Inches)<span style="color:red;"> *</span></label></h4>
    <input type="text" placeholder="36" name="screen" required>
  </div>

  <div class="field">
    <h4><label>Display<span style="color:red;"> *</span></label></h4>
    <div class="two fields">
    <div class="field">
  <input type="text" placeholder="LED Pannel" name="ds11" required>
    </div>
    <div class="field">
      <input type="text" placeholder="" name="ds22">
    </div>

  </div>

  </div>



  <div class="field">
    <h4><label>Sound output<span style="color:red;"> *</span></label></h4>
    <div class="three fields">
    <div class="field">
  <input type="text" placeholder="20W" name="s11" required>
    </div>
    <div class="field">
      <input type="text" placeholder="Dolby Digital" name="s22">
    </div>
    <div class="field">
      <input type="text" placeholder="" name="s33">
    </div>
    <div class="field">
      <input type="text" placeholder="" name="s44">
    </div>
  </div>

  </div>



 <div class="field">
   <h4><label>Smart TV Features<span style="color:red;"> *</span></label></h4>
   <div class="two fields">
      <div class="field">
   <div class="dropdown field">
     <select name="smart" class="ui dropdown">
       <option value="NO" selected="selected">No</option>
  <option value="YES">Yes</option>


</select>
   </div>



 </div>



   <div class="field">
     <input type="text" placeholder="In-built wifi (Android Nougat OS)" name="fist">
   </div>
 </div>

 </div>



   </div>
</div>
   </div>
<div class="ui center aligned container" style="margin:3%;">


 <div class="ui buttons btn1">
   <button type="submit" class="ui primary button" id="btnSubmit">Save and Continue</button>
   <div class="or"></div>
 </form>
 <button type="text" class="ui green button" id="btn_click">Get Value</button>



     <!--   ----------------------------  -->

   </div>
 </div>
</div>
</div>




</div>

</div>




  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="" style="margin-bottom:2%;">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>

      </header>

        <table class="ui celled table" style="margin-top:2%;" style="margin-bottom:2%;">
        <thead>
          <tr>
              <th>S No.</th>
            <th>ASIN Allocated</th>

          <th>Status</th>
        </tr></thead>
        <tbody>
          {% for i in data6 %}
          <tr>
              <td data-label="ASIN">{{forloop.counter}}</td>

            <td data-label="ASIN">{{i.asin}}</td>

            {% if i.status %}
            <td data-label="Status" class="center aligned positive"><i class="large green checkmark icon"></i></td>
            {% else %}
            <td data-label="Status" class="negative"></td>
            {% endif %}

          </tr>

          {% endfor %}

        </tbody>
      </table>


    </div>
  </div>



  <div class="ui inverted vertical footer raised segment" style="background:#e0e0e0;">
   <div class="ui center aligned container">

     <div class="ui horizontal small divided link list">
       <a class="item" href="#" style="color:#212121;">Contact Us</a>
       <a class="item" href="#" style="color:#212121;">Terms and Conditions</a>
     </div>
   </div>
 </div>






  </body>
</html>
