<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>

  </head>
  <body style="background:#fefefe;">


    <div class="ui stackable menu" style="background:#fdfdfd; height:7%;">
  <div class="ui container">
    <a class="item" style="color:#212121;">
      <i class="home icon" style="color:#212121;"></i> Text Mercato
    </a>
    <a class="item" style="color:#212121;">
      <i class="grid layout icon" style="color:#212121;"></i>Admin Dashboard
    </a>

  </div>

  <div class="right item">
     <a class="item" style="color:#212121;" href="{% url 'admin:index' %}" target="_blank">
      <i class="server icon" style="color:#212121;"></i>Admin Pannel</a>

      <a class="item" style="color:#212121;" href="{% url 'app:index' %}" data-content="Add users to your feed">
        <i class="power off icon" style="color:#212121;"></i></a>




    </div>

</div>





    <div class="ui container raised" style="margin-top:3.8%;">

      <div class="ui breadcrumb">
  <a class="section">Home</a>
  <div class="divider"> / </div>

  <div class="active section">Admin</div>
</div>




    <div class="ui grid" style="margin-top:2.2%;" >

      <div class="four wide column segment">
        <div class="ui large vertical menu">
        <a class="teal item">
          ASIN's Done
          <div class="ui teal left label">{{done_asin}}</div>
        </a>
        <a class="teal item">
          ASIN's Allocated
          <div class="ui left label">{{asin_allocated}}</div>
        </a>
        <a class="teal item">
          Users
          <div class="ui label">{{total_user}}</div>
        </a>
        <a class="teal item" href="{% url 'app:fetch_asin' %}">
          Asin's Fetched
          <div class="ui label">{{asin_fetch}}</div>
        </a>


      </div>
 </div>

  <div class="twelve wide stretched column">
    <div class="ui segment">

      <div class="ui container">

          <div class="ui three statistics">
  <div class="blue statistic">
    <div class="text value">
      {{done_asin}}/{{total_asin}}
    </div>
    <div class="label">
      Total No. of ASIN Done
    </div>
  </div>

  <div class="statistic">
    <div class="text value">
      {{asin_allocated}}/{{total_asin}}
    </div>
    <div class="label">
      Total No. of ASIN Allocated
    </div>
  </div>

  <div class="statistic">
    <div class="text value">
      {{asin_fetch}}/{{total_asin}}
    </div>
    <div class="label">
      Total No. of ASIN Fetched
    </div>
  </div>

</div>



      </div>



      <hr>

      <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>No. of ASIN Completed</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data3 %}
      <tr>
        <td><a href="/user/{{i.email}}">{{i.name}}</a></td>
        <td>{{i.asin_done_c}}</td>
        <td>{{i.roles}}</td>

      </tr>
      {% endfor %}


    </tbody>
  </table>
<form method="post">
  {% csrf_token %}
  <input type="submit" name="" value="Final Report">

</form>
    </div>



  </div>


</div>


</div>


<!-- <div style="background:#e0e0e0;">
   <div class="ui center aligned container">

     <div class="ui horizontal small divided link list">
       <a class="item" href="#" style="color:#212121;">Contact Us</a>
       <a class="item" href="#" style="color:#212121;">Terms and Conditions</a>
     </div>
   </div>
 </div> -->


 <footer style="position:fixed;bottom:0; width:100%;">
   <div style="background:#e0e0e0;">
      <div class="ui center aligned container">

        <div class="ui horizontal small divided link list">
          <a class="item" href="#" style="color:#212121; padding-top:10%; padding-bottom:10%;">Contact Us</a>
          <a class="item" href="#" style="color:#212121; padding-top:10%; padding-bottom:10%;">Terms and Conditions</a>
        </div>
      </div>
    </div>

 </footer>

  </body>
</html>
