<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Manager-User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>


  </head>
  <body style="background:#ffffff;">


    <div class="ui attached stackable menu" style="background:#ffffff; height:7%;">
  <div class="ui container">
    <a class="item" style="color:#006f94;" href="{% url 'app:manager' %}">
      <i class="arrow left icon" style="color:#006f94;"></i>
    </a>
    <a class="item" style="color:#006f94;">
  <img src="http://www.textmercato.com/newimages/logo.png" alt="" style="margin:auto 0 auto; display:block;" />
</a>
    <a class="item" style="color:#006f94;">
      <i class="grid layout icon" style="color:#006f94;"></i>Admin Dashboard
    </a>

  </div>

  <div class="right item">
     <a class="item" style="color:#006f94;" href="{% url 'admin:index' %}" target="_blank">
      <i class="server icon" style="color:#006f94;"></i>Admin Pannel</a>

      <a class="item" style="color:#006f94;" href="{% url 'app:index' %}">
        <i class="power off icon" style="color:#006f94;"></i></a>




    </div>

</div>







    <div class="ui container raised" style="margin-top:3.4%;">

      <div class="ui breadcrumb">
  <a class="section">Home</a>
  <div class="divider"> / </div>
  <a class="section" href="{% url 'app:manager' %}">Admin</a>
  <div class="divider"> / </div>
  <div class="active section">{{data3.name}}</div>
</div>


      <div class="ui teal message" style="margin-top:4%;">

  <div class="header">
    {{data3.name}}
  </div>
  <p>{{data3.email}} | {{data3.roles}}</p>
</div>



    <div class="ui grid">




  <div class="stretched column">
    <div class="ui segment">

      <div class="ui container">

          <div class="ui two statistics">






  <div class="blue statistic">
    <div class="text value">
      {{done_asin}}/{{total_asin}}
    </div>
    <div class="label">
      No. of ASIN Submitted
    </div>
  </div>





</div>



      </div>



      <hr>

      <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>No. of ASIN Completed</th>
        <th>No. of ASIN Given</th>
        <th>Role</th>

      </tr>
    </thead>
    <tbody>

      <tr>
        <td>{{data3.name}}</td>
        <td>{{done_asin}}</td>
        <td>{{total_asin}}</td>

        <td>{{data3.roles}}</td>

      </tr>



    </tbody>
  </table>

  <div class="ui section divider"></div>


  <form method="post">
    {% csrf_token %}

    <div class="ui input">
  <input type="text" name="user_asin" placeholder="8">
</div>
    <button type="submit" class="ui teal button">Allocate</button>


  </form>

    </div>



  </div>


</div>


</div>


<!-- <div style="background:#e0e0e0;">
   <div class="ui center aligned container">

     <div class="ui horizontal small divided link list">
       <a class="item" href="#" style="color:#212121;">Contact Us</a>
       <a class="item" href="#" style="color:#212121;">Terms and Conditions</a>
     </div>
   </div>
 </div> -->


 <footer style="position:fixed;bottom:0; width:100%;">
   <div style="background:#e0e0e0;">
      <div class="ui center aligned container">

        <div class="ui horizontal small divided link list">
          <a class="item" href="#" style="color:#212121; padding-top:10%; padding-bottom:10%;">Contact Us</a>
          <a class="item" href="#" style="color:#212121; padding-top:10%; padding-bottom:10%;">Terms and Conditions</a>
        </div>
      </div>
    </div>

 </footer>

  </body>
</html>
